{% extends "website.html" %}

{% block content %}

    <article>
        <h2>Wie zijn wij?</h2>
        <p>Welkom op onze website, (WEBSITE NAAM).
            Wij zijn Fleur Luten, Isa Bos, Naomy Schuppers en Ype de Vos
            en wij zijn studenten in leerjaar 1 van de bio-informatica opleiding aan de Hanze Hogeschool Groningen.
            <br> <br>
            Ons doel met deze website is om u de mogelijkheid aan te bieden om een DNA-, RNA- of eiwitsequentie
            op te geven en hier meer te weten over te komen.
            Deze data kunt u vertalen of visualiseren in een 3D-structuur.
            <br> <br>
            Door middel van deze website heeft u dus een eenvoudige manier om meer te weten te komen over
            genetische gegevens en de visualisatie hiervan.
            <br> <br> <br>
            Heeft u vragen aan ons en wilt u contact met ons opnemen? Dat kan via deze email-adressen:
            <br> <br>
            Fleur Luten - f.luten@st.hanze.nl <br>
            Isa Bos - i.bos@st.hanze.nl <br>
            Naomy Schuppers - n.schuppers@st.hanze.nl <br>
            Ype de Vos - y.de.vos@st.hanze.nl <br>

    </article>

{% endblock %}