<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>Coole BLAST uitleg <img src="../static/logo-hanze-oranje-zwart-rgb.png"
                      alt="Hanze Logo"
                      height="50" width="120"> </h1>
</header>

<nav>
    <a href="website.html">Home Page</a>
    <a href="CHIMERA.html">Chimera UCSF</a>
    <a href="BLAST.html">BLAST</a>
    <a href="HELP.html">Help</a>
    <a href="ABOUT_US.html">About Us</a>
</nav>

<article>
    <h2>Basic Local Alignment Search Tool</h2>
    <p>De Basic Local Alignment Search Tool, ook bekend als BLAST, is een tool om een gegeven sequentie
    (DNA, RNA, eiwit) te vergelijken met bekende sequenties uit de NCBI database. Na een BLAST krijgt
    de gebruiker een selectie sequenties terug die vergelijkbaar zijn met de opgegeven sequentie.
    <br><br>
    Er zijn enkele belangrijke opties/instellingen voor het goed uitvoeren van een BLAST. Ten eerste moet
    BLAST weten met wat voor sequentie het werkt (nucleotiden of aminozuren). Daarnaast heb je in BLAST
    enkele opties voor hoe je de sequentie meegeeft, dit kan bijvoorbeeld een accession number of een
    FASTA-bestand zijn.
    <br><br>
    Zodra een sequentie is opgegeven voor een BLAST, duurt het vaak een tijdje voordat de BLAST klaar
    is vanwege het grote aantal sequenties in de NCBI-database. Zodra de BLAST klaar is, wordt
    er een lijst aan sequenties gegeven die tot een bepaald niveau op de opgegeven sequentie lijken.
    </p>
</article>

</body>
</html>
