{% extends "website.html" %}

{% block content %}

<article>
    <h2>Wat is UCSF Chimera?</h2>
    <p>Voor het maken van deze website hebben we onder andere gebruik gemaakt van de tool UCSF Chimera.
        <br> <br>
        UCSF Chimera is een geavanceerd softwarepakket voor de visualisatie en analyse van moleculaire structuren
        en bijbehorende data. Het is ontwikkeld door de University of California, San Francisco (UCSF)
        en wordt veel gebruikt in de bio-informatica, structurele biologie, scheikunde en farmaceutisch onderzoek.
        Door middel van deze tool kunnen bijvoorbeeld onderzoekers complexe eiwitstructuren op een makkelijke
        manier verkennen en analyseren.
        <br> <br>
        Door middel van UCSF Chimera hebben we genetische data kunnen omzetten naar visuele data,
        door bijvoorbeeld een eiwit te visualiseren als 3D-structuur. Dit maakt het gebruiken van deze tool
        toegankelijker voor een breder publiek en helpt bij het beter begrijpen van deze structuren.
        <br> <br>
        Als je meer te weten wilt komen over UCSF Chimera, kan je de officiële website van de tool bezoeken:
        <a href="https://www.cgl.ucsf.edu/chimera/" target="_blank">UCSF Chimera</a>
    </p>
</article>

<img src="../static/ucsf-chimera.png"
      alt="UCSF Chimera Logo"
      height="120" width="200">

{% endblock %}
