{% extends "website.html" %}

{% block content %}

<article>
    <h2>Wat is UCSF ChimeraX?</h2>
    <p>Voor het maken van deze website hebben we onder andere gebruik gemaakt van de tool UCSF ChimeraX.
        <br> <br>
        UCSF ChimeraX is een geavanceerd softwarepakket voor de visualisatie en analyse van moleculaire structuren
        en bijbehorende data. Deze tool is een nieuwe generatie van UCSF Chimera, die is ontwikkeld door de University
        of California, San Francisco (UCSF). De tool wordt veel gebruikt in de bio-informatica, structurele biologie,
        scheikunde en farmaceutisch onderzoek.
        <br> <br>
        Met deze tool kunnen bijvoorbeeld onderzoekers complexe eiwitstructuren op een eenvoudige en toegankelijke
        manier verkennen en analyseren. Dit biedt onder andere de mogelijkheid om diepgaand inzicht te krijgen in de
        relaties tussen eiwitten en hun substraten, omdat de eiwitten duidelijk in beeld worden gebracht met een
        3D structuur.
    </p>

    <h2>Waar hebben wij UCSF ChimeraX voor gebruikt?</h2>
    <p>Door middel van UCSF Chimera hebben we genetische data kunnen omzetten naar visuele data,
        door bijvoorbeeld een eiwit te visualiseren als 3D-structuur. Met onze website is het gebruik van UCSF ChimeraX
        en dus het visualiseren van bijvoorbeeld eiwitstructuren toegankelijker voor een breder publiek, waardoor de
        structuren beter begrepen kunnen worden.
        <br> <br> <br>
        Als je meer te weten wilt komen over UCSF ChimeraX, kan je de officiële website van de tool bezoeken:
        <a href="https://www.cgl.ucsf.edu/chimerax/" target="_blank">UCSF ChimeraX</a>
    </p>
</article>

<img src="../static/ucsf-chimera.png"
      alt="UCSF Chimera Logo"
      height="120" width="200">

{% endblock %}
