<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USCF Chimera</title>
</head>
<body>
<p><a href=https://www.cgl.ucsf.edu/chimerax/>UCSF Chimera</a> is een geavanceerd softwarepakket voor de visualisatie en analyse van moleculaire
structuren en bijbehorende data. Het is ontwikkeld door de University of California, San Francisco (UCSF)
en wordt veel gebruikt in de bio-informatica, structurele biologie, scheikunde en farmaceutisch onderzoek.
<br>
<img src="chimera_foto1.png" alt="chimera_homescreen_foto" width="1200" height="800">
<p></p>
</body>
</html>