{% extends "website.html" %}

{% block content %}
<header><h1> Oepsie, er ging iets mis.</h1></header>

<article>
    <h2>Wat er misgegaan kan zijn.</h2>
    <br>
    <h3>Check uw id</h3>
    <p>Uw opgegeven protein id klopt niet<br>
    Check of dit id echt bestaat op de pdb website.<br>
    Let op: letters in de id moeten hoofdletters zijn</p>
    <br><br>
    <h3>Check of chimera in de tool map zit.</h3>
    <br><br>
    <h3>Check uw verbinding</h3>
    Mischien is er een slechte verbinding met het internet.
</article>

{% endblock %}


