{% extends "website.html" %}

{% block content %}

<article>
    <h2>Instructies nodig?</h2>
    <p>Onze website werkt heel simpel en effectief voor u. Het enige wat
    je hoeft te doen is een bestaand eiwit ID in te voeren je voorkeur geven voor kleur of vorm etc. en dan
    maakt de website via chimera een mooie duidelijke 3D visualisatie voor je! Al heb je een visualisatie blijft deze
        bestaan zolang je nog dit tabje open hebt. Je blijft het menu zien aan de zijkant die ook nogsteeds na
        het visualiseren gebruikt kan worden. Al klik je op een van deze tabjes verdwijnt je visualisatie en kan
        je deze opnieuw berekenen. Heb je dit perongeluk gedaan? Geen zorgen je ziet in de zoekbalk je laatste
        ingevoerde ID met je gekozen extra optie!<br>

    <h2> Wil je deze visualisatie downloaden?</h2>
    Het is mogelijk om deze 3D visualisatie te downloaden als video door op de doorlopende video te klikken
    en dan naar opties gaan (drie puntjes onder elkaar recht onderin het scherm) en vervolgens zie je 'downloaden' klik hierop en de video
    zou uit zichzelf moeten downloaden. Doet hij dit niet? Laad de pagina opnieuw en probeer het nog een keer.
    <br> <img src="../static/drie_puntjes.png" height="254" width="414"/>
    <img src="../static/download help .png" height="328" width="416"/>


    </p>
</article>

{% endblock %}
