{% extends "website.html" %}

{% block content %}

<article>
    <title>Eiwit Zoeker</title>
</head>
<body>
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoek een DNA of eiwitstructuur</title>
</head>
<body>
    <h1>Zoek een DNA of eiwitstructuur</h1>
    <form action="/" method="post">
        <label for="prot_id">DNA of Eiwit ID:</label>
        <input type="text" id="prot_id" name="prot_id" required>
        <br><br>

        <label for="color">Opties:</label>
        <select id="color" name="color">
            <option value="none">Geen kleur</option>
            <option value="color pink; view">Roze</option>
            <option value="color blue; view">Blauw</option>
            <option value="color red; view">Rood</option>
            <option value="color green; view">Groen</option>
            <option value="color yellow; view">Geel</option>
            <option value="color orange; view">Oranje</option>
            <option value="color purple; view">Paars</option>
            <option value="rainbow protein; view">regenboog</option>
            <option value="style ball ; show atoms ; hide cartoons; view">weergave in atomen</option>
            <option value="hbonds reveal true; view">waterstofbruggen</option>
            <option value="style ball ; show atoms ; hide cartoons ; hbonds reveal true; view">waterstofbruggen in atomen</option>
            <option value="nucleotides #!2 ladder ; view">ladders (ALLEEN DNA)</option>
            <option value="style nucleic & #!2 stick ; view">stick (ALLEEN DNA)</option>

        </select>
        <br><br>
         <input type="submit" value="Zoeken">
          <p>
              Vul hierboven een vier letterig ID in en chimera begint met deze te visualiseren!
             <br> enkele voorbeelden:
             <br> <a href="https://www.rcsb.org/structure/1BOM" target="_blank">1BOM</a>
             <br> <a href="https://www.rcsb.org/structure/1JM7" target="_blank">1JM7</a>
             <br> <a href="https://www.rcsb.org/structure/1A0M" target="_blank">1A0M</a>
             <br> <a href="https://www.rcsb.org/structure/1UQB" target="_blank">1UQB</a>
          </p>

     </form>
 </body>

</html>

</article>

{% endblock %}