<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoekresultaat</title>
</head>
<body>

    <h1>Zoekresutlaat</h1>
    <p> <span id="output"></span></p>

    <script>
        const params = new URLSearchParams(window.location.search);
        const sequentie = params.get("fname");

        document.getElementById("output").textContent = sequentie || "geen valide sequentie gevonden!!";
    </script>

</body>
</html>
