<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Coole Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<header>
    <h1>Super Coole Website <img src="../static/logo-hanze-oranje-zwart-rgb.png" alt="Hanze Logo" height="50" width="120"></h1>
</header>

<nav>
    <a href="http://127.0.0.1:5000/">Home Page</a>
    <a href="http://127.0.0.1:5000/visualisation">Chimera UCSF</a>
    <a href="http://127.0.0.1:5000/blast_output">BLAST</a>
    <a href="http://127.0.0.1:5000/help_information">Help</a>
    <a href="http://127.0.0.1:5000/information">About Us</a>
</nav>

<article>
    <h2>WEBSITE NAAM?</h2>
    <form action="outputje.html" method="get">
        <label for="fname">Sequentie:</label>
        <input type="text" id="fname" name="fname">
        <br><br>
        <input type="submit" value="Zoeken">
        <p>Welkom bij onze website voor het vertalen en informeren van eiwitten.
           Vul bovenin een DNA, RNA, nucleotide, aminozuur sequentie in of een eiwit en laat je informeren!</p>
    </form>
</article>

</body>
</html>
