<!DOCTYPE html>
<html lang="nl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ titel }}</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>

        <header>
            <h1>{{ titel }} <img src="../static/logo-hanze-oranje-zwart-rgb.png" alt="Hanze Logo" height="50" width="120"></h1>
        </header>

        <nav>
            <a class="nav-link" href="{{url_for('home')}}">Home Page</a>
            <a class="nav-link" href="{{url_for('chimera')}}">UCSF ChimeraX</a>
            <a class="nav-link" href="{{url_for('blast')}}">BLAST</a>
            <a class="nav-link" href="{{url_for('help')}}">Help</a>
            <a class="nav-link" href="{{url_for('about_us')}}">About Us</a>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

    </body>

</html>