<!DOCTYPE html>
<html lang="nl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ titel }}</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>

        <header>
            <h1>{{ titel }} <img src="../static/logo-hanze-oranje-zwart-rgb.png" alt="Hanze Logo" height="50" width="120"></h1>
        </header>

        <nav>
            <a href="http://127.0.0.1:5000/">Home Page</a>
            <a href="http://127.0.0.1:5000/Chimera">Chimera UCSF</a>
            <a href="http://127.0.0.1:5000/BLAST">BLAST</a>
            <a href="http://127.0.0.1:5000/Help">Help</a>
            <a href="http://127.0.0.1:5000/AboutUs">About Us</a>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

    </body>

</html>
